{% extends 'index.html' %}

{% block conteudo %}
<div class="my-box my-box-primary">
    <div class="my-box-header">
        <h5 class="box-title">Semanal</h5>
    </div>
    <div class="my-box-body">
        <table class="table-dark table-striped table">
            <thead>
                <tr>
                    <th class="text-center" style="min-width:50px">Ação</th>
                    <th class="text-center" style="min-width:50px">Status</th>
                    <th class="text-center" style="min-width:50px">Data</th>
                </tr>
            </thead>
            <tbody>
                {% for relatorio in relatorios %}
                    <tr>
                        <td lass="text-center">
                            <center>
                                <a class="link-light" href="{{ url_for('listar_relatorio_id', relatorio_id=relatorio.id) }}">{{ relatorio.acao.descricao }}</a>
                            </center>
                        </td>
                        <td lass="text-center">
                            <center>
                                <a {% if relatorio.status %}
                                        class="link-light"
                                   {% else %}
                                        class="link-danger"
                                   {% endif %}
                                   href="{{ url_for('listar_relatorio_id', relatorio_id=relatorio.id) }}">{{ relatorio.estatus }}</a>
                            </center>
                        </td>
                        <td lass="text-center">
                            <center>
                                <a class="link-light" href="{{ url_for('listar_relatorio_id', relatorio_id=relatorio.id) }}">{{ relatorio.data_pt_br }}</a>
                            </center>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="my-box-footer">
        <span>Total de {{ sucessos }} backups realizados com sucesso e {{ falhas }} com falhas na semana {{ semana }}.</span>
    </div>
</div>


{% endblock %}