{% extends 'index.html' %}

{% block conteudo %}
<div class="my-box my-box-primary">
    <div class="my-box-header">
        <h5 class="box-title">Sincronização - {{ data }}</h5>
    </div>
    <div class="my-box-body">
        <table class="table-dark table-striped table">
            <thead>
                <tr>
                    {% for coluna in matriz[0] %}
                        <th class="text-center" style="min-width:50px">{{ coluna }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for linha in matriz %}
                    <tr>
                        {% for coluna in matriz[loop.index] %}
                            {% if loop.index == 1 %}
                                <td class="text-center">{{ coluna }}</td>
                            {% else %}

                                    <td class="text-center">
                                        <a {% if coluna.status %}
                                                class="link-light"
                                           {% else %}
                                                class="link-danger"
                                           {% endif %}
                                           href="{{ url_for('listar_relatorio_id', relatorio_id=coluna.id) }}">
                                            {{ coluna.estatus }}
                                        </a>
                                    </td>
                            {% endif %}

                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="my-box-footer">
        <span>Total de {{ sucessos }} backups realizados com sucesso e {{ falhas }} com falhas em {{ data }}.</span>
    </div>
</div>


{% endblock %}