{% extends 'index.html' %}

{% block conteudo %}
<div class="my-box my-box-primary">
    <div class="my-box-header">
        <h5 class="box-title">{{ backup }}</h5>
    </div>
    <div class="my-box-body">
        <p>ID: <strong>{{ relatory.id }}</strong></p>
        <p>Data: <strong>{{ relatory.date }}</strong></p>
        <p>Status: <strong>{{ relatory.status }}</strong></p>
        <p>Backup: <strong>{{ relatory.backup_obj }}</strong></p>
        <p>Log: </p>
        <p>{{ relatory.log }}</p>
    </div>
    <div class="my-box-footer">
        <span></span>
    </div>
</div>


{% endblock %}