{% extends 'index.html' %}

{% block conteudo %}
    <br>
    <div class="text-center">
        <a class="link-light" href="{{ url_for('get_relatory_by_day', day=last_day) }}"><<</a>
         - Dia {{ day }} -
        <a class="link-light" href="{{ url_for('get_relatory_by_day', day=next_day) }}">>></a>
    </div>
<div class="my-box my-box-primary">
    <div class="my-box-header">
        <h5 class="box-title">Sincronização - {{ date }}</h5>
    </div>
    <div class="my-box-body">
        <table class="table-dark table-striped table">
            <thead>
                <tr>
                    {% for column in matrix[0] %}
                        <th class="text-center" style="min-width:50px">{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in matrix %}
                    <tr>
                        {% for column in matrix[loop.index] %}
                            {% if loop.index == 1 %}
                                <td class="text-center">{{ column }}</td>
                            {% else %}

                                    <td class="text-center">
                                        <a {% if column.status %}
                                                class="link-light"
                                           {% else %}
                                                class="link-danger"
                                           {% endif %}
                                           href="{{ url_for('get_relatory_id', relatory_id=column.id) }}">
                                            {{ column.status }}
                                        </a>
                                    </td>
                            {% endif %}

                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="my-box-footer">
        <span>Total de {{ success }} backups realizados com sucesso e {{ fails }} com falhas em {{ date }}.</span>
    </div>
</div>


{% endblock %}