<div class="flex-shrink-0 p-3 bg-my-light-dark text-white" style="width: 250px;">
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <button class="btn-toggle align-items-center collapsed text-white" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                Home
            </button>
            <div class="collapse" id="home-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-light">Overview</a></li>
                    <li><a href="#" class="link-light">Updates</a></li>
                    <li><a href="#" class="link-light">Reports</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn-toggle align-items-center collapsed text-white" data-bs-toggle="collapse" data-bs-target="#dash-collapse" aria-expanded="false">
                Home
            </button>
            <div class="collapse" id="dash-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-light">Overview</a></li>
                    <li><a href="#" class="link-light">Updates</a></li>
                    <li><a href="#" class="link-light">Reports</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn-toggle align-items-center collapsed text-white" data-bs-toggle="collapse" data-bs-target="#teste-collapse" aria-expanded="false">
                Home
            </button>
            <div class="collapse" id="teste-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-light">Overview</a></li>
                    <li><a href="#" class="link-light">Updates</a></li>
                    <li><a href="#" class="link-light">Reports</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>