<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Backup</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>Ação</th>
                {% for data in datas %}
                    <th class="text-center" style="min-width:200px">{{ data }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for distinto in distintos %}
                <tr>
                    <td style="min-width:400px">{{ distinto }}</td>
                    {% for data in datas %}
                        <td class="text-center">Ok</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th>Ação</th>
                <th>Status</th>
                <th>Frequência</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            {% for i in relatorios %}
                <tr>
                    <td>{{ i.acao.descricao }}</td>
                    <td>{{ i.status }}</td>
                    <td>{{ i.frequencia.descricao }}</td>
                    <td>{{ i.data }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>